#container {}

#header {}

#nav {}

#body {}

.main {}

.side {}

#footer {}

* {
	color: white;
}

body {
	background-image: url("C:/Users/SilverSurfer/Desktop/CodeifyAcademy/week 8/Zodiac/img/stars.jpg");
	text-align: center;
}




@media (max-width: 600px) {

}

@media (min-width: 601px) {

}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* hides HTML from IE-mac\*/
*html .clearfax {height: 1%;}
.clearfax {display: block;}
/* end hide from IE-mac */